.books-container {
  height: 50%;
  display: flex;
}

.book-list {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(5, 70, 83);
}

.book-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.book-list li {
  border: solid 1px #000;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.book-list li:hover {
  color: #fff;
  cursor: pointer;
  border-color: #fff;
}
